.bg-main-gradient {
  background: linear-gradient(93.4deg, #5e25d9 0%, #a447ff 100%);
}

.content-container {
  @apply w-full max-w-[1175px];
}

// Home page
// Slick
.slick {
  &-next,
  &-prev {
    width: 40px !important;
    &::before {
      content: none !important;
    }
  }
  &-next {
    right: -40px !important;
  }
  &-prev {
    left: -54px !important;
  }

  &-dots {
    li {
      button:before {
        font-size: 10px !important;
        color: #efdbff !important;
        opacity: 1 !important;
      }
      &.slick-active {
        button:before {
          font-size: 14px !important;
          color: #5e25d9 !important;
          opacity: 1 !important;
          transition: all 0.2s;
        }
      }
    }
  }
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.product-filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.filter-menu {
  &-button {
    @apply bg-main-light rounded-full;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  }

  &__panel {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
    top: 47px;
  }
}

.product-detail__card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  &__images .slick-next {
    right: -51px !important;
  }
}

.product-buy-actionbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.outlined-button {
  transition: all 0.3s;
  &:hover {
    @apply bg-main-gradient text-main-light;
  }
}

.filled-button {
  transition: all 0.3s;
  @apply bg-main-gradient;

  &:hover {
    @apply bg-none text-main-dark;
  }
}

.overlay {
  background-color: rgba($color: #fff, $alpha: 0.8);
}

.select-box {
  appearance: none;
  background-image: url('/assets/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: 95% center;
}

.connect-wallet-panel {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  max-height: 38px;
}

.react-tagsinput {
  &--focused {
    @apply border-main-weighted;
  }
  &-input {
    font-size: 100%;
    margin: 0;
    width: auto;
  }
  &-tag {
    @apply bg-main-strong border-main-strong text-main-dark;
  }
}

.main-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.main-shadow-hover:hover {
  @apply transition;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.message-truncated {
  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;/* Important for long words! */
  max-height: 38px;
}

.message {
  &-me {
    background: #C883FF;
  }
  &-other {
    background: #8A5FE8;
  }
}
